<%- layout('layouts/boilerplate') %>

<div class="container">
    <%- include("../partials/navbar") %>

    <main class="mt-6">
        <div class="columns is-centered">
            <div class="column card tags is-two-fifths mb-0">
                <div class="card-content">
                <form action="/homepage/:id" method="POST" id="updateFridgeItems">
                    <% for (let userItem of loggedinUser.userItems) {%>
                        <div class="tag mb-1 is-info is-medium">
                            <p><%= userItem %></p>
                            <input type="hidden" value="<%=userItem%>" name="fridgeItem">
                            <button class="delete deleteItem is-small"></button>
                        </div>
                    <% } %>
                    </div>

                    <button type="submit" class="button">更新</button>
                </form>

                <input type="text" type="submit" id="inputNewItem">

                <footer class="card-footer">
                    <a href="/homepage/<%= loggedinUser._id %>" class="button card-footer-item card-footer-item">戻る</a>
                </footer>
            </div>
        </div>
    </main>
</div>

<script src="../../js/fridgeEditForm.js"></script>