<%- layout('layouts/boilerplate') %>

<div class="container">
    <%- include("../partials/navbar") %>

    <main class="mt-6">
        <div class="columns is-centered">

            <div class="column card tags mb-0">
                <form id="addItemIntoSearch">
                    <div class="card-content">
                    <%  for (let userItem of loggedinUser.userItems) { %>
                        <label class="tag mb-1 is-info is-medium"><input type="checkbox" name="fridgeItem" value="<%= userItem %>"><%= userItem %></label>
                    <% } %>
                    </div>
                </form>

                <footer class="card-footer">
                    <a href="/homepage/<%= loggedinUser.id %>/edit" class="button card-footer-item card-footer-item">冷蔵庫編集</a>
                </footer>
            </div>

            
            <div class="column card">
                <form id="searchForm">
                    <div class="card-content tags are-medium" id="searchTags">
                        <!-- 冷蔵庫の食材リストからセレクトされた検索ワードがここに加わる。-->
                    </div>
                    <footer class="card-footer">
                        <button type="submit" class="button card-footer-item card-footer-item">検索</button>
                    </footer>
                </form>
            </div>
    </main>

    <div class="fixed-grid has-3-cols mx-6">
        <div class="grid mt-6" id="recipeGrid">
            <!-- ここに検索結果のレシピがリストされる -->
                
        </div>
    </div>
</div>
<script src="../js/categoryMargeData.js"></script>
<script src="../js/recipeSearch.js"></script>